/* nav bar styles */
.main-nav{
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    position: absolute;
    top: 0;
    font-size: 50px;
}
nav>ul{
    display: flex;
    list-style-type: none;
    position: absolute;
    top: 20px;
    right: 0;
}
nav li a{
    padding: 5px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    border-bottom: 2px solid transparent;
    
}
nav li a:hover{
    color: #E02C6D;
}

/* Common styles or utilities */
body{
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 1st part design */
#starting-title{
    font-size: 50px;
    font-weight: bold;
    line-height: 70px;

}
.First-part{
    display: flex;
}
.first-part-left-side{
    margin: 50px;
}
.main-camera{
    width: 70%;
}
.button-design{
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 900;

}
.fas .fa-arrow-right{
    padding-left: 10px;
}

.container{
    max-width: 1200px;
    margin: 0;
    margin-bottom: 80px;
}
/* products */
.section-title-popular-collection{
    text-align: center;
    font-size:20p ;
}
.products{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 25px;
    padding: 20px 50px;
  
}
.product{
    border-radius: 15px;
    padding: 8px 12px;
    transition: .3s;
}
.products .product-img{
    width: 100%;
}
/* ratting-desing */
.fa-star.filled{
    color: #FB8200;
   
}
/* see-more-link */
.see-more-link{
    text-decoration:none;
    color: #E02C6D;
    margin-right: 65px;
    float: right;
}
/* footer */
footer{
    display: block;
}
.footer{
    background-color: #0A0826;
    text-align: center; 
    color: white;
}